head
    title Join the #{team.name}
body
    include ../../partials/navbar.pug

    h2 Create your player profile for the #{team.name}
    form(action="./"+team.code, method="post") 
        h3 Positions
        fieldset 
            input(type="checkbox", value="LW", name="positions")
            label LW
            input(type="checkbox", value="C", name="positions")
            label C
            input(type="checkbox", value="RW", name="positions")
            label RW
            input(type="checkbox", value="LD", name="positions")
            label LD
            input(type="checkbox", value="RD", name="positions")
            label RD
            input(type="checkbox", value="G", name="positions")
            label G

        br
        br
        input(type="submit", value="Join Team")

        if responses.noPositionsSelected 
            h3 Please select which positions you want to play