head
    title New Team
body
    h1 New Team
    form(action="./", method="post") 
        label(for="name") Team Name: 
        input(type="text" name="name" id="name")
        br
        br
        input(type="submit", value="Create Team") 