mixin expandPositionCode(code)
    -
        let result = '';

        // Get the type of line the player is on
        const lineCodes = {
            'line': 'line ',
            'PP': 'powerplay ',
            'PK': 'penalty kill '
        }
        const lineCode = code.split(/\d/)[0]; // Splits the string up to the first number
        result += lineCodes[lineCode];
        code = code.slice(lineCode.length); // Remove the first part of the string 

        // Get the line number from the position code
        result += code.slice(0, 1);
        code = code.slice(1);

        // Expand the appreviation of the player's position
        const positionCodes = {
            'W': ' winger',
            'LW': ' left winger',
            'C': ' centre',
            'RW': ' right winger',
            'LD': ' left defenceman',
            'RD': ' right defenceman'
        }
        result += positionCodes[code];

    span= result

-
    function incrementNumberInCode(code, maxValue) {
        return code.replace(/\d/, match => {
            let incrementedNumber = Number(match) + 1;
            return incrementedNumber > maxValue ? '1' : String(incrementedNumber);
        });
    }

    function decrementNumberInCode(code, loopValue) {
        return code.replace(/\d/, match => {
            let decrementedNumber = Number(match) - 1;
            return decrementedNumber >= 1 ? String(decrementedNumber) : String(loopValue);
        });
    }