mixin expandPositionCode(code)
    -
        let result = '';
        if (code.startsWith('line')) {
            result += 'line ';
            code = code.slice(4);
        } else if (code.startsWith('PP')) {
            result += 'powerplay ';
            code = code.slice(2);
        } else if (code.startsWith('PK')) {
            result += 'penalty kill ';
            code = code.slice(2);
        }

        result += code.slice(0, 1);
        code = code.slice(1);
        if (code == "W") {
            result += ' winger';
        } else if (code == "LW") {
            result += ' left winger';
        } else if (code == "C") {
            result += ' centre';
        } else if (code == "RW") {
            result += ' right winger';
        } else if (code == "LD") {
            result += ' left defenceman';
        } else if (code == "RD") {
            result += ' right defenceman';
        }

    span= result