mixin positionSelection(number, selectablePositions)
    select(name="line"+ number + position)
        option(value="noneSelected") None selected
        for player in players
            if player.positions.some(item => selectablePositions.includes(item))
                option(value=player._id)= player.user.name

mixin line(number)
    h3 Line #{number}
    table
        tr
            td LW
            td C
            td RW
        tr
            td
                +positionSelection(number, ['LW'])
            td
                +positionSelection(number, ['C'])
            td
                +positionSelection(number, ['RW'])
        tr
            td LD
            td
            td RD
        tr
            td
                +positionSelection(number, ['LD'])
            td
            td
                +positionSelection(number, ['RD'])
