mixin line(number)
    h3 Line #{number}
    table
        tr
            td LW
            td C
            td RW
        tr
            td
                select(name="LW")
            td
                select(name="C") 
            td
                select(name="RW")
        tr
            td LD
            td
            td RD
        tr
            td
                select(name="LD")
            td
            td
                select(name="RD")
