link(rel="stylesheet", href="/public/css/master.css")

nav
    div.left
        h3 
            a(href="/") Hockey
    div.right
        if account
            ul
                li
                    a(href="/dashboard") Dashboard
                li
                    a(href="/logout") Logout