head
    title Dashboard
body
    include partials/navbar.pug
    h1 Welcome #{account.name}
    h2 Your Teams
    button
        a(href="/team/new") Create New Team

    if responses.teamDeleteSuccessful
        h3 Team deleted successfully

    table
        thead 
            tr
                th Team Name
                th Role
        tbody
            each team in teams
                tr
                    td
                        a(href="/team/" + team.code)= team.name
                    td
                        if team.coach == account._id
                            span Coach
                        else
                            span Player