head
    title Error
    link(rel="stylesheet", href="/public/css/error.css")
body
    include partials/navbar.pug
    h1 #{code} Error
    if stack
        p= stack

    if path
        p The path '#{path}' does not exist 