head
    title Hockey
    link(rel="stylesheet", href="public/css/master.css")
    link(rel="stylesheet", href="public/css/index.css")
    script(src="public/js/index.js" defer) 
body
    h1 Hockey

    div.container
        div.form-box
            h2 Sign Up
            form#signupForm
                label(for="signupEmail") Email: 
                input(type="text" id="signupEmail" name="email")
                br
                br
                label(for="name") Name: 
                input(type="text" id="name" name="name")
                br
                br
                input(type="submit", value="Sign Up")

            if responses.emailInUse
                h3.error An account with that email already exists
                br
            if responses.invalidSignUpEmail
                h3.error Please enter a valid email
                br
            if responses.invalidName
                h3.error Please enter a name
                br
            if responses.successfulSignUp
                h3.success Account created successfully

        div.form-box
            h2 Login
            form#loginForm
                label(for="loginEmail") Email: 
                input(type="text" id="loginEmail" name="email")
                br
                br
                input(type="submit", value="Login")

            if responses.invalidLoginEmail 
                h3.error Please enter a valid email
            if responses.authEmailSent
                h3.error if an account with that email exists, we have sent a login link to that email