head
    title Settings
    link(rel="stylesheet", href="/public/css/settings.css")
    script(src="/public/js/settings.js" defer) 
body
    include ./partials/navbar.pug
    main
        h1 Settings

        h2 Add New Login Credentials
        p Press the button below to generate a new code. Use this code to log in to your account on a new device for the first time.
        button#newCodeButton Generate new code
        p#newCodeDisplay

        h2 Change Name
        form(action="/update/name", method="post") 
            input(type="text" name="name" value=account.name)
            input(type="submit", value="Update Name")
        if responses.invalidName
            h3.error Please enter a name
        if responses.nameChangeSuccessful
            h3.success Name changed successfully