table {
    width: 100%;
    text-align: center;
    table-layout: fixed;

    thead tr {
        background-color: lightgray;
    }

    tr:nth-child(even){
        background-color: #b2ffe5;
    }
}