main {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

table {
    text-align: center;
    width: 100%;

    @media (min-width: 600px)  {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

select {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    text-align: center;
}