$mobileScreenSize: 722px;

body {
    font-family: verdana, arial;
    margin: 0px;
}

h1 {
    font-size: 72px;
    margin: 20px;
    text-align: center;

    @media (max-width: $mobileScreenSize) {
        font-size: 36px;
        margin: 10px;
    }
}

a {
    text-decoration: none;
    color: black;
}

button, input[type=submit] {
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 0;
    border: 1px solid transparent;
    background-color: aquamarine;
}

// Utility Classes
.error, .success {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
    display: inline-block;
}

.error {
    background-color: lightcoral;
}

.success {
    background-color: lightgreen;
}

.red {
    background-color: red;
}

.green {
    background-color: lightgreen;
}

.hidden {
    display: none;
}

// Navbar
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;

    .left {
        float: left;

        h3 {
            margin: 0px;
            margin-left: 5px;
            font-size: 32px;
        }
    }

    .right {
        float: right;

        ul {
            list-style: none;
            height: 100%;

            li {
                display: inline;
                box-sizing: border-box;

                a {
                    padding: 1rem;
                }

                a:hover {
                    background-color: gray;
                }
            }
        }
    }
}