$mobileScreenSize: 722px;

h1 {
    font-size: 56px !important;
    text-transform: capitalize;
}

#settingsToggle {
    margin-bottom: 20px;
}

#settingsForm {
    margin-top: -20px;
}

.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 20px;
    row-gap: 20px;
    margin-right: 10px;
    margin-bottom: 20px;

    @media (max-width: $mobileScreenSize) {
        flex-direction: column;
        margin-right: 0px;
    }

    div {
        text-align: center;
        flex: 1 1 0px;
        background-color: darkgray;
        border-radius: 10px;

        h3 {
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0px;
            border-top-right-radius: inherit;
            border-top-left-radius: inherit;
            font-size: 28px;
            background-color: aquamarine;
        }

        p {
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: 72px;
        }
    }
}

table {
    width: calc(100vw - 20px);
    table-layout: fixed;

    @media (max-width: $mobileScreenSize) {
        margin-left: 0px;
        width: 100%;
    }

    td, th {
        text-align: center;
    }

    thead tr {
        background-color: lightgray;
    }

    tr:nth-child(even){
        background-color: #b2ffe5;
    }
}