$mobileScreenSize: 722px;

h1 {
    text-align: center;
    font-size: 56px;
    margin: 20px;
}

button {
    margin: 5px;
}

select {
    margin-bottom: 10px;
}

label, select {
    font-size: 16px;
}

#teamCode {
    text-decoration: underline;
    color: blue;
}

.container {
    // Flexbox
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start; 
    column-gap: 30px;
    margin-right: 30px;
    margin-left: 30px;
    
    @media (max-width: $mobileScreenSize) {
        flex-direction: column;
        align-items: stretch;
    }
}

.content {
    // Make content boxes take up the full width of the page and be the same size
    flex: 1 1 0px;

    h2 {
        margin: 10px;
    }

    p, h2 {
        text-align: center;
    }
}

table {
    width: 100%;
    table-layout: fixed;

    td, th {
        text-align: center;
        font-size: 16px;
    }

    thead tr {
        background-color: lightgray;
    }

    tr:nth-child(even){
        background-color: #b2ffe5;
    }

}