head
    if game.atHome
        - var gameTitle = team.name + " vs " + game.opponent
    else
        - var gameTitle = game.opponent + " vs " + team.name
    
    title Build lines for #{gameTitle}
body
    include ../../partials/navbar.pug
    h1 Build lines for #{gameTitle}
    p You have #{game.playersSignedUp.length} players to pick from

    include ../../partials/line.pug
    - for (var i = 1; i <= Math.ceil(game.playersSignedUp.length / 5); ++i) {
        +line(i)
    - }